<!DOCTYPE html>
<html>
<head>
  <title>GoogleContactsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='site-header'>
  <h1 class='title pull-left'>Contact App</h1>
  <%= (link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-link pull-right') if current_user %>
</header>

<% flash.keys.each do |key|%>
  <%= flash[key] %>
<% end  %>
<%= yield %>

</body>
</html>
